{% extends 'base.twig' %}

{% set page_title = 'Home' %}
{% set body_style = "background: url('/img/backgrounds/home.#{model.backgroundFileExtension}') no-repeat center; background-size: cover" %}

{% block content %}
    <header class="row">
        <div class="col text-center">
            <h1>Interactive Maps For</h1>
            <img src="/img/logos/hitman2.{{ model.backgroundFileExtension }}">
            <h2>Select Your Campaign</h2>
        </div>
    </header>
    <div class="row">
        {% for game in model.games %}
            <div class="col-lg {{ game.slug }} text-center">
                <a href="/games/{{ game.slug }}">
                    <div class="game-btn" style="background: url('/img/backgrounds/{{ game.slug }}.png') no-repeat center">
                        <img src="/img/logos/{{ game.slug }}.{{ model.backgroundFileExtension }}" class="img-fluid">
                        <h2>{{ game.tagline }}</h2>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}