{% extends 'base.twig' %}

{% set page_title = model.fullName %}
{% set body_style = "background: url('#{settings.cdnLocation}/#{model.jpgBackgroundFileExtension}/backgrounds/#{model.game}.#{model.jpgBackgroundFileExtension}') no-repeat center center fixed; background-size: cover" %}
{% set body_class = model.game %}

{% block content %}
    <div class="site-container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i class="far fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        {{ model.fullName }}
                    </li>
                </ol>
            </nav>
        </div>
        <div class="text-center">
            <img src="{{ settings.cdnLocation }}/{{ model.pngBackgroundFileExtension }}/logos/{{ model.game }}.{{ model.pngBackgroundFileExtension }}" class="img-fluid">
            <h2>{{ model.tagline }}</h2>
        </div>
        <div class="row">
            {% for location in model.locations %}
                <div class="location col-lg col-md-6" style="background: url('{{ settings.cdnLocation }}/{{ model.jpgBackgroundFileExtension }}/locations/{{ model.game }}/{{ location.slug }}.{{ model.jpgBackgroundFileExtension }}') no-repeat center">
                    <a href="/games/{{ model.game }}/{{ location.slug }}">
                        <p>&nbsp;</p>
                        <div class="location-info">
                            <h4>{{ location.country }}</h4>
                            <h3>{{ location.name }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}