<html>
<head>
    <title>{{ model.mission }}/{{ model.locationNameOne }} | HITMAN Maps</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    {#<link rel="stylesheet" href="/css/navbar-fixed-right.min.css" />#}

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>
        #map {
            z-index: 0;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .leaflet-container {
            background: #464646;
        }

        .navbar-fixed-right {
            display: block;
            float: right;
            width: 300px;
            min-height: 100vh;
        }

        /*.leaflet-control-zoom-in {
            border: 2px solid #fff !important;
            margin-bottom: 10px;
        }

        .leaflet-control-zoom-out {
            border: 2px solid #fff!important;
        }

        .leaflet-control-zoom-in, .leaflet-control-zoom-out {
            /*float: left!important;
            border-radius: 3px !important;
            padding: 5px!important;
            background: rgba(22,24,29,0.75)!important;
            color: #fff!important;
            box-shadow: none!important;
        }*/
    </style>
</head>
<body>
<div id="map"></div>
<nav class="navbar navbar-fixed-right navbar-light bg-light">
    <a class="navbar-brand" href="#">Legend</a>
    <div class="accordion" id="accordion">
        {% for typeName,type in model.nodes %}
            <div class="card">
                <div class="card-header" id="header-{{ loop.index0 }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#body-{{ loop.index0 }}" aria-expanded="false" aria-controls="body-{{ loop.index0 }}">
                            {{ typeName }}
                        </button>
                    </h5>
                </div>
                <div id="body-{{ loop.index0 }}" class="collapse" aria-labelledby="header-{{ loop.index0 }}" data-parent="#accordion">
                    <div class="card-body">
                        {% for groupName,group in type %}
                            <a href="javascript:" data-layer="{{ typeName }}|{{ groupName }}"><b>{{ groupName }}</b></a>
                            {% for node in group %}
                                <p>{{ node.name }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</nav>
<div class="modal" id="suggest-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suggest Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/nodes" method="post">
                <div class="modal-body">
                        <h3>General Info</h3>
                        <div class="form-group row">
                            <label for="type" class="col-sm-2 col-form-label">Type</label>
                            <div class="col-sm-10">
                                <select name="type" class="form-control">
                                    <option value="point-of-interest">Point of Interest</option>
                                    <option value="weapons-and-tools">Weapons and Tools</option>
                                    <option value="navigation">Navigation</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="icon" class="col-sm-2 col-form-label">Icon</label>
                            <div class="col-sm-10">
                                <select name="icon" class="form-control">
                                    <optgroup label="Point of Interest">
                                        <option value="explosion">Explosion</option>
                                        <option value="distraction">Distraction</option>
                                        <option value="poison">Poison</option>
                                        <option value="misc-item">Misc Item</option>
                                        <option value="intel">Intel</option>
                                        <option value="disguise">Disguise</option>
                                        <option value="blend-in">Blend In</option>
                                        <option value="conceal-item">Conceal Item</option>
                                        <option value="weapon-crate">Weapon Crate</option>
                                        <option value="locked-door">Locked Door</option>
                                        <option value="destroy-evidence">Destroy Evidence</option>
                                    </optgroup>
                                    <optgroup label="Weapons and Tools">
                                        <option value="lethal-melee">Lethal Melee</option>
                                        <option value="non-lethal-melee">Non-Lethal Melee</option>
                                        <option value="explosive">Explosive</option>
                                        <option value="coin">Coin</option>
                                        <option value="poison">Poison</option>
                                        <option value="firearm">Firearm</option>
                                        <option value="ammo">Ammo</option>
                                    </optgroup>
                                    <optgroup label="Navigation">
                                        <option value="starting-location">Starting Location</option>
                                        <option value="exit-location">Exit Location</option>
                                        <option value="Agency Pickup">Agency Pickup</option>
                                        <option value="up-stair">Stairs - Up Only</option>
                                        <option value="up-down-stair">Stairs - Up and Down</option>
                                        <option value="down-stair">Stairs - Down Only</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="target" class="col-sm-2 col-form-label">Target</label>
                            <div class="col-sm-10">
                                <input type="text" name="target" class="form-control">
                            </div>
                        </div>
                        <h3>Notes</h3>
                        <div id="suggest-notes">
                            <div class="form-group row">
                                <label for="note-type[]" class="col-sm-2 col-form-label">Type</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="note-type[]">
                                        <option value="requirement">Requirement</option>
                                        <option value="warning">Warning</option>
                                        <option value="info">Information</option>
                                        <option value="description">Description</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="note-text[]" class="col-sm-2 col-form-label">Text</label>
                                <div class="col-sm-10">
                                    <input type="text" name="note-text[]" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="note-template" style="display: none">
                            <div class="form-group row">
                                <label for="note-type[]" class="col-sm-2 col-form-label">Type</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="note-type[]">
                                        <option value="requirement">Requirement</option>
                                        <option value="warning">Warning</option>
                                        <option value="info">Information</option>
                                        <option value="description">Description</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="note-text[]" class="col-sm-2 col-form-label">Text</label>
                                <div class="col-sm-10">
                                    <input type="text" name="note-text[]" class="form-control">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="mission-id" value="{{ model.missionId }}">
                        <input type="hidden" name="level" value="0">
                        <input type="hidden" name="latitude">
                        <input type="hidden" name="longitude">
                        <input type="hidden" name="difficulty" value="{{ model.difficulty }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var g_overlays = {};
    var g_map;

    $('[data-layer]').click(function() {
        var layer = g_overlays[$(this).attr('data-layer')];
        if (g_map.hasLayer(layer)) {
            g_map.removeLayer(layer);
        } else {
            g_map.addLayer(layer);
        }
    });

    $.ajax({
        url: '/api/nodes?missionId={{ model.missionId }}&difficulty={{ model.difficulty }}',
        method: 'GET',
        success: function(data) {
            json = JSON.parse(data);

            var allLayerGroups = [];
            for (var typeName in json) {
                var type = json[typeName];
                for (var groupName in type) {
                    var group = type[groupName];

                    if (g_overlays[typeName + '|' + groupName] === undefined) {
                        g_overlays[typeName + '|' + groupName] = L.layerGroup();
                        allLayerGroups.push(g_overlays[typeName + '|' + groupName]);
                    }

                    for (var k in group) {
                        var node = group[k];
                        L.marker([node.latitude, node.longitude]).bindPopup(node.name).addTo(g_overlays[typeName + '|' + groupName]);
                    }
                }
            }

            var mapTileLayer = L.tileLayer('/maps/{{ model.mapFolderName }}/tiles/{z}/{x}/{y}.png', {
                noWrap: true,
                attribution: 'Map data &copy; IOI Interactive',
                minZoom: 3,
                maxZoom: 5,
                bounds: [[-.1875, .125], [-200, 207.46875]]
            });
            allLayerGroups.push(mapTileLayer);

            g_map = L.map('map', {
                maxZoom: 5,
                minZoom: 3,
                crs: L.CRS.Simple,
                layers: allLayerGroups
            }).setView([{{ model.mapCenterLatitude }}, {{ model.mapCenterLongitude }}], 3);
            g_map.setMaxBounds([[-.1875, .125], [-200, 207.46875]]);
            g_map.addEventListener('click', function(e) {
                $('#suggest-edit-modal')
                    .find('input[name="latitude"]').val(e.latlng.lat).end()
                    .find('input[name="longitude"]').val(e.latlng.lng).end()
                    .modal('show');
            });
            g_map.zoomControl.setPosition('topright');

            console.log(overlays);
            L.control.layers({"Level 0": mapTileLayer}, g_overlays).addTo(g_map);

            //console.log(leafletLayerGroups);
        },
        error: function() {
            alert('An error occurred when trying to get map nodes');
        }
    });

    $('#suggest-notes').on('change', 'input[name="note-text[]"]', function() {
        var fields = $('#suggest-notes').find('input[name="note-text[]"]');
        var shouldAddNewRow = true;
        $.each(fields, function() {
            if (shouldAddNewRow && $(this).val() === '') {
                shouldAddNewRow = false;
            }
        });

        if (shouldAddNewRow) {
            var template = $('.note-template').html();
            $('#suggest-notes').append(template);
        }
    });

    $('form[action="/api/nodes"]').submit(function(e) {
        var $form = $(this);

        $.ajax({
            url: '/api/nodes',
            method: 'POST',
            data: $(this).serialize(),
            success: function() {
                L.marker([$form.find('input[name="latitude"]').val(), $form.find('input[name="longitude"]').val()]).bindPopup("I'm a thing!").addTo(map);
                $('#suggest-edit-modal').modal('hide');
            },
            error: function() {
                alert('Error!');
            }
        });

        console.log("Done adding node.");
        return false;
    })
</script>
</body>
</html>