{% extends 'base.twig' %}

{% set page_title = "#{model.mission}/#{model.locationNameOne}" %}
{% set body_class = "map" %}
{% set footer_style = "display: none" %}

{% block headextend %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/map.css">

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/map.js"></script>
{% endblock %}
{% block content %}
    <div class="floor-toggle">
        {% for i in model.highestFloor..model.lowestFloor %}
            <div class="floor-info" data-floor="{{ i }}">
                <div class="floor{% if model.startingFloor == i %} selected{% endif %}">
                    Level {{ i }}
                </div>
                <div class="item-count">#</div>
            </div>
        {% endfor %}
    </div>
    <div id="map"></div>
    <nav class="navbar navbar-fixed-right navbar-light">
        <div class="header">
            <a href="/">
                <img src="/img/logos/map-header.{{ model.backgroundFileExtension }}" class="img-fluid">
            </a>
        </div>
        <div class="editor-enabled" style="display: none">
            <h3>Editor Enabled</h3>
        </div>
        <div id="map-control">
            <div class="control-buttons">
                <input type="hidden" name="edit-mode" value="0">
                {% if model.loggedIn %}
                    <button id="edit-button" class="btn control-button" data-toggle="tooltip" title="Edit Map"><i class="fas fa-pencil-alt"></i></button>
                    <a href="/user/profile">
                        <button class="btn control-button" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="fas fa-user-circle"></i></button>
                    </a>
                    <a href="/user/logout">
                        <button class="btn control-button" data-toggle="tooltip" data-placement="bottom" title="Log out"><i class="fas fa-sign-out-alt"></i></button>
                    </a>
                {% else %}
                    <a href="/user/login">
                        <button class="btn control-button" data-toggle="tooltip" data-placement="bottom" title="Login / Register to edit"><i class="fas fa-sign-in-alt"></i></button>
                    </a>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="accordion" id="accordion">
            {% for typeName,type in model.nodes %}
                <div class="card">
                    <div class="card-header" id="header-{{ loop.index0 }}">
                        <div class="visibility-toggle" data-layer="{{ typeName }}|*">
                            <i class="far fa-eye"></i>
                        </div>
                        <div class="name collapsed" data-toggle="collapse"
                             data-target="#body-{{ loop.index0 }}" aria-expanded="false" aria-controls="body-{{ loop.index0 }}">
                            {{ typeName }}
                            <span class="float-right">
                                <i class="fas fa-caret-down"></i>
                                <i class="fas fa-caret-up"></i>
                            </span>
                        </div>
                    </div>
                    <div id="body-{{ loop.index0 }}" class="collapse" aria-labelledby="header-{{ loop.index0 }}" data-parent="#accordion">
                        <div class="card-body">
                            {% for groupName,group in type %}
                                <a href="javascript:" data-layer="{{ typeName }}|{{ groupName }}"><i class="far fa-eye"></i></a>
                                <b>{{ groupName }}</b>
                                {% for node in group %}
                                    <p>{{ node.name }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </nav>
    <div class="modal" id="confirm-move-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Move</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/api/nodes/move" method="post">
                    <input type="hidden" name="node-id">
                    <input type="hidden" name="latitude">
                    <input type="hidden" name="longitude">
                    <div class="modal-body">
                        <div class="alert alert-warning">
                            Are you sure you want to re-position this item?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
                        <button type="submit" class="btn btn-primary">Yes, save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="suggest-edit-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ model.editorTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/api/nodes" method="post">
                    <div class="modal-body">
                        <div class="alert alert-primary" style="font-size: .8em">
                            You can now use a template to auto-fill item information for common items!
                            <b>If you select a template, all information in "Item Info" and "Notes" will be replaced with
                                the template's information.</b>
                        </div>
                        <h3>Apply Template</h3>
                        <div class="form-group row">
                            <label for="template" class="col-sm-2 col-form-label">Template</label>
                            <div class="col-sm-10">
                                <select name="template" class="form-control selectpicker" title="Select One" data-live-search="true">
                                    {% for type,items in model.predeterminedItems %}
                                        <optgroup label="{{ type }}">
                                            {% for item in items %}
                                                <option data-type="{{ type }}"
                                                        data-subgroup="{{ item.subgroup }}"
                                                        data-icon="{{ item.icon }}"
                                                        data-description="{{ item.description }}"
                                                        data-requirement="{{ item.requirement }}"
                                                        data-warning="{{ item.warning }}"
                                                        data-information="{{ item.information }}"
                                                        data-group="{{ item.group }}"
                                                        data-target="{{ item.target }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr>
                        <h3>Item Info</h3>
                        <div class="alert alert-dark" style="font-size: .8em">
                            Please indicate the following under the notes section when adding items:
                            <ul>
                                <li>Any <b>required</b> items, such as needing a wrench for loosening valves (use type "Requirement")</li>
                                <li>Whether or not the action is <b>suspicious</b> when wearing a certain disguise (use type "Warning")</li>
                                <li>If you feel something <b>requires more information</b>, use the "Information" type</li>
                                <li>You may add the in-game description for items by using the "Description" type <b>if there is no name field provided.</b></li>
                                <li>Any notes with blank text will not be added to the node</li>
                            </ul>
                        </div>
                        <div class="form-group row">
                            <label for="subgroup" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-10">
                                <select name="subgroup" class="form-control selectpicker" title="Select One" data-live-search="true">
                                    {% for type,categories in model.nodeCategories %}
                                        <optgroup label="{{ type }}">
                                            {% for category in categories %}
                                                <option value="{{ type }}|{{ category.subgroup }}"
                                                        data-content="<img height='24' width='24' src='/img/map-icons/{{ category.icon }}.png' alt='{{ category.group }} Icon'> {{ category.group }}"
                                                        data-icon="{{ category.icon }}"
                                                    {% if category.requireName %} data-name="true" {% endif %}
                                                    {% if category.requireAction %} data-action="true" {% endif %}
                                                    {% if category.requireTarget %} data-target="true" {% endif %}
                                                    {% if category.requirePickup %} data-pickup="true" {% endif %}
                                                    {% if category.note != null %} data-note="{{ category.note }}" {% endif %}
                                                    {% if category.requireDirection %} data-direction="true" {% endif %}>
                                                    {{ category.group }}
                                                </option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="group">
                                <small class="form-text text-muted" id="note-help-text">
                                </small>
                            </div>
                        </div>
                        <div class="form-group row" style="display: none">
                            <label for="icon" class="col-sm-2 col-form-label">Icon</label>
                            <div class="col-sm-10">
                                <select name="icon" class="form-control selectpicker" data-live-search="true">
                                    {% for group,icons in model.icons %}
                                        <optgroup label="{{ group }}">
                                            {% for icon in icons %}
                                                <option data-content="<img height='24' width='24' src='/img/map-icons/{{ icon.icon }}.png' alt='{{ icon.altText }} Icon'> {{ icon.altText }}" value="{{ icon.icon }}">{{ icon.altText }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" data-type="name" style="display: none">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control">
                                <small class="form-text text-muted">
                                    Enter the name as it appears in-game.
                                </small>
                            </div>
                        </div>
                        <div class="form-group row" data-type="action" style="display: none">
                            <label for="action" class="col-sm-2 col-form-label">
                                Action
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="action" class="form-control">
                                <small class="form-text text-muted">
                                    Enter the action that is performed (such as "loosen the valve", "turn on radio", "trigger fire alarm", etc.)
                                </small>
                            </div>
                        </div>
                        <div class="form-group row" data-type="target" style="display: none">
                            <label for="target" class="col-sm-2 col-form-label">
                                Target
                            </label>
                            <div class="col-sm-10">
                                <input type="text" name="target" class="form-control">
                                <small class="form-text text-muted">
                                    Who will be poisoned?
                                </small>
                            </div>
                        </div>
                        <div class="form-group row" data-type="pickup" style="display: none">
                            <label for="pickup-type" class="col-sm-2 col-form-label">
                                Type
                            </label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pickup-type" value="large" checked>
                                    <label class="form-check-label" for="large">
                                        Pickup (Large)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pickup-type" value="small">
                                    <label class="form-check-label" for="small">
                                        Stash (Small)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" data-type="direction" style="display: none">
                            <label for="stairwell-direction" class="col-sm-2 col-form-label">
                                Direction
                            </label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="stairwell-direction" value="up-stair" checked>
                                    <label class="form-check-label" for="up-stair">
                                        Up Only
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="stairwell-direction" value="up-down-stair">
                                    <label class="form-check-label" for="up-down-stair">
                                        Up and Down
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="stairwell-direction" value="down-stair">
                                    <label class="form-check-label" for="down-stair">
                                        Down Only
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h3>Notes</h3>
                        <div id="suggest-notes">
                            <div class="form-group row">
                                <label for="note-type[]" class="col-sm-2 col-form-label">Type</label>
                                <div class="col-sm-10">
                                    <select class="form-control selectpicker" name="note-type[]">
                                        <option value="requirement">Requirement</option>
                                        <option value="warning">Warning</option>
                                        <option value="info">Information</option>
                                        <option value="description">Description</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="note-text[]" class="col-sm-2 col-form-label">Text</label>
                                <div class="col-sm-10">
                                    <input type="text" name="note-text[]" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8 offset-sm-2">
                                <button type="button" id="add-note-button" class="btn btn-dark">+ Add Another Note</button>
                            </div>
                        </div>
                        <div class="note-template" style="display: none">
                            <div class="form-group row">
                                <label for="note-type[]" class="col-sm-2 col-form-label">Type</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="note-type[]">
                                        <option value="requirement">Requirement</option>
                                        <option value="warning">Warning</option>
                                        <option value="info">Information</option>
                                        <option value="description">Description</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="note-text[]" class="col-sm-2 col-form-label">Text</label>
                                <div class="col-sm-10">
                                    <input type="text" name="note-text[]" class="form-control">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="mission-id" value="{{ model.missionId }}">
                        <input type="hidden" name="level" value="{{ model.startingFloor }}">
                        <input type="hidden" name="latitude">
                        <input type="hidden" name="longitude">
                        <input type="hidden" name="difficulty" value="{{ model.difficulty }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/html" id="popup-template">
        <div>
            <div data-name="name">Stove</div>
            <div data-name="group">Explosion</div>
            <div data-name="target">Start Gas Leak</div>
            <hr>
            <div data-name="notes"></div>
            {% if model.canDeleteNodes %}
                <button class="btn btn-danger btn-sm" data-action="delete-btn" data-node-id="x">Delete</button>
            {% endif %}
        </div>
    </script>
    <script type="text/html" id="popup-note-template">
        <div>
            <div>
                <div data-name="note-contents"></div>
            </div>
        </div>
    </script>
    <div id="temp" style="display: none"></div>
    <script>
        var g_mapLayers = {};
        var g_overlays = {};
        var g_map;
        var g_lowestFloor = {{ model.lowestFloor }};
        var g_highestFloor = {{ model.highestFloor }};
        var g_startingFloor = {{ model.startingFloor }};
        var g_openMarker = undefined;

        // Initialize g_overlays for each floor
        for (var i = g_lowestFloor; i <= g_highestFloor; i++) {
            g_overlays[i] = {};
        }

        $('[data-layer]').click(function() {
            var target = $(this).attr('data-layer');
            var typeToggle = target.includes('*');
            var shouldShow = $(this).find('i').hasClass('fa-eye-slash');
            var currentFloor = $('input[type="hidden"][name="level"]').val();
            target = target.replace('*', '');

            if (shouldShow) {
                $('[data-layer^="' + target + '"]').find('i').removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                $('[data-layer^="' + target + '"]').find('i').addClass('fa-eye-slash').removeClass('fa-eye');
            }

            updateNodeLayerState();
        });

        $.ajax({
            url: '/api/nodes?missionId={{ model.missionId }}&difficulty={{ model.difficulty }}',
            method: 'GET',
            success: function(data) {
                json = JSON.parse(data);

                var allLayerGroups = [];
                // Build layer groups
                for (var i in json.categories) {
                    var category = json.categories[i];
                    for (var j = g_lowestFloor; j <= g_highestFloor; j++) {
                        g_overlays[j][category.type + '|' + category.group] = L.layerGroup();
                        allLayerGroups.push(g_overlays[j][category.type + '|' + category.group]);
                    }
                }

                var nodes = json.nodes;
                for (var typeName in nodes) {
                    var type = nodes[typeName];
                    for (var groupName in type) {
                        var group = type[groupName];
                        for (var k in group) {
                            var node = group[k];
                            var marker = buildMarker(node).bindPopup(buildPopup(node));
                            if (node.name !== '') {
                                marker.bindTooltip(node.name);
                            }

                            marker.addTo(g_overlays[node.level][typeName + '|' + groupName]);
                        }
                    }
                }

                // Build tile layers for each floor
                for (var j = g_lowestFloor; j <= g_highestFloor; j++) {
                    var mapTileLayer = L.tileLayer('/maps/{{ model.mapFolderName }}/tiles/' + j + '/{z}/{x}/{y}.png', {
                        noWrap: true,
                        minZoom: 3,
                        maxZoom: 5
                    });
                    allLayerGroups.push(mapTileLayer);
                    g_mapLayers[j] = mapTileLayer;
                }

                g_map = L.map('map', {
                    maxZoom: 5,
                    minZoom: 3,
                    crs: L.CRS.Simple,
                    layers: allLayerGroups
                }).setView([{{ model.mapCenterLatitude }}, {{ model.mapCenterLongitude }}], 3);
                g_map.setMaxBounds([[{{ model.topLeftCoordinate }}], [{{ model.bottomRightCoordinate }}]]);
                g_map.addEventListener('click', function(e) {
                    if (parseInt($('input[type="hidden"][name="edit-mode"]').val()) === 0) {
                        console.debug('Editor disabled. Modal will not be shown.');
                        return;
                    }

                    console.debug('Editor enabled. Displaying modal.');
                    $('#suggest-notes').html('').append($('.note-template').html());
                    $('select[name="template"]').selectpicker('val', -1);
                    $('select[name="subgroup"]').selectpicker('val', -1);
                    $('#suggest-edit-modal')
                        .find('input[name="name"]').val('').end()
                        .find('input[name="action"]').val('').end()
                        .find('input[name="target"]').val('').end()
                        .find('input[name="latitude"]').val(e.latlng.lat).end()
                        .find('input[name="longitude"]').val(e.latlng.lng).end()
                        .modal('show');
                });
                var zoom = L.control.zoom({position: 'topright'});
                zoom.addTo(g_map);
                $('#map-control').append(zoom.getContainer());

                // Show the starting level's tiles
                for (var j = g_lowestFloor; j <= g_highestFloor; j++) {
                    g_map.removeLayer(g_mapLayers[j]);
                }
                g_map.addLayer(g_mapLayers[g_startingFloor]);

                // Show the starting level's items
                for (var j = g_lowestFloor; j <= g_highestFloor; j++) {
                    for (var k in g_overlays[j]) {
                        toggleLayer(g_overlays[j][k], false);
                    }
                }
                for (var j in g_overlays[g_startingFloor]) {
                    toggleLayer(g_overlays[g_startingFloor][j], true);
                }
                updateNodeLayerState();
            },
            error: function() {
                alert('An error occurred when trying to get map nodes');
            }
        });

        // Template change
        $('select[name="template"]').change(function() {
            var $selectedItem = $('select[name="template"] option:selected');

            var $modal = $('#suggest-edit-modal');
            $modal.find('select[name="subgroup"]')
                .selectpicker('val', $selectedItem.attr('data-type') + '|' + $selectedItem.attr('data-subgroup'));
            $modal.find('select[name="subgroup"]').trigger('change');
            var icon = $selectedItem.attr('data-icon');
            $modal.find('select[name="icon"]').selectpicker('val', icon);

            var $selectedCategory = $('select[name="subgroup"] option:selected');
            if ($selectedCategory.attr('data-name') !== undefined && $selectedItem.attr('data-action') !== false) {
                $modal.find('input[name="name"]').val($selectedItem.text());
            }
            if ($selectedCategory.attr('data-action') !== undefined && $selectedItem.attr('data-action') !== false) {
                $modal.find('input[name="action"]').val($selectedItem.attr('data-target'));
            }
            if ($selectedCategory.attr('data-target') !== undefined && $selectedItem.attr('data-target') !== false) {
                $modal.find('input[name="target"]').val($selectedItem.attr('data-target'));
            }
            var $suggestNotes = $('#suggest-notes');
            $suggestNotes.html('');
            var addedNotes = false;
            if (addNoteFromTemplate($selectedItem, $suggestNotes, 'description')) {
                addedNotes = true;
            }
            if (addNoteFromTemplate($selectedItem, $suggestNotes, 'requirement')) {
                addedNotes = true;
            }
            if (addNoteFromTemplate($selectedItem, $suggestNotes, 'warning')) {
                addedNotes = true;
            }
            if (addNoteFromTemplate($selectedItem, $suggestNotes, 'information', 'info')) {
                addedNotes = true;
            }

            if (!addedNotes) {
                $suggestNotes.append($('.note-template').html());
            }
        });

        function updateNodeLayerState() {
            var currentFloor = $('input[type="hidden"][name="level"]').val();

            for (var floor in g_overlays) {
                var numberOfItemsOnMap = 0;
                var floorLayers = g_overlays[floor];
                for (var key in floorLayers) {
                    // Find the button that toggles this layer and see if it's active or not.
                    var $icon = $('[data-layer="' + key + '"]').find('i');
                    if ($icon.hasClass('fa-eye')) {
                        numberOfItemsOnMap += floorLayers[key].getLayers().length;

                        toggleLayer(floorLayers[key], (parseInt(floor) === parseInt(currentFloor)));
                    } else {
                        toggleLayer(floorLayers[key], false);
                    }
                }
                var $itemElement = $('[data-floor="' + floor + '"]').find('.item-count');
                $itemElement.text(numberOfItemsOnMap);
            }
        }

        function buildMarker(node) {
            return L.marker([node.latitude, node.longitude], {
                icon: L.icon({iconUrl: '/img/map-icons/' + node.icon + '.png',
                    iconSize: [32, 32],
                    iconAnchor: [16, 16],
                    popupAnchor: [0, 0]
                }),
                custom: {
                    id: node.id,
                    node: node
                },
                draggable: true,
                riseOnHover: true
            }).on('popupopen', function() {
                g_openMarker = this;
            }).on('dragend', function(e) {
                var nodeInformation = e.target.options.custom;
                if (parseInt($('input[type="hidden"][name="edit-mode"]').val()) === 0) {
                    console.debug("Editor disabled. Sending node back.");
                    e.target.setLatLng([nodeInformation.node.latitude, nodeInformation.node.longitude]);
                    toastr["warning"]("The editor is disabled. No items can be moved unless the editor is enabled.");
                    return;
                }

                console.log(e.target);
                var $modal = $('#confirm-move-modal')
                    .find('input[name="node-id"]').val(nodeInformation.id).end()
                    .find('input[name="latitude"]').val(e.target.getLatLng().lat).end()
                    .find('input[name="longitude"]').val(e.target.getLatLng().lng).end()
                    .modal('show');
            });
        }

        function addNoteFromTemplate($selectedItem, $suggestNotes, type, target) {
            if ($selectedItem.attr('data-' + type) === undefined ||
                $selectedItem.attr('data-' + type) === false ||
                $selectedItem.attr('data-' + type).trim() === '') {
                return false;
            }

            if (target === undefined) {
                target = type;
            }

            var $temp = $('#temp');
            $temp.append($('.note-template').html());
            $temp.find('input[name="note-text[]"]').attr('value', $selectedItem.attr('data-' + type));
            $temp.find('select[name="note-type[]"] [value="' + target + '"]').attr('selected', true);
            $suggestNotes.append($temp.html());
            $temp.html('');
            return true;
        }

        $('select[name="subgroup"]').change(function() {
            var $selectedItem = $('select[name="subgroup"] option:selected');
            $('input[name="group"]').val($selectedItem.text());

            toggleEditorFieldDisplay($selectedItem, 'name');
            toggleEditorFieldDisplay($selectedItem, 'action');
            toggleEditorFieldDisplay($selectedItem, 'target');
            toggleEditorFieldDisplay($selectedItem, 'pickup');
            toggleEditorFieldDisplay($selectedItem, 'direction');

            var note = $selectedItem.attr('data-note');
            if (note !== undefined && note !== false) {
                $('#note-help-text').text(note);
            } else {
                $('#note-help-text').text('');
            }
        });

        function toggleEditorFieldDisplay($selectedItem, attribute) {
            if ($selectedItem.attr('data-' + attribute) !== undefined && $selectedItem.attr('data-' + attribute) !== false) {
                $('[data-type="' + attribute + '"]').show();
            } else {
                $('[data-type="' + attribute + '"]').hide();
            }
        }

        $('#add-note-button').click(function() {
            var template = $('.note-template').html();

            var nextRowNumber = parseInt($('#modal').find('[data-note-row]').attr('data-note-row')) + 1;
            console.log(nextRowNumber);

            $('#suggest-notes').append(template);
        });

        $('form[action="/api/nodes"]').submit(function() {
            var $form = $(this);

            $.ajax({
                url: '/api/nodes',
                method: 'POST',
                data: $(this).serialize(),
                success: function(data) {
                    var node = JSON.parse(data);
                    if (node.approved) {
                        var marker = buildMarker(node).bindPopup(buildPopup(node));
                        if (node.name !== '') {
                            marker.bindTooltip(node.name);
                        }
                        marker.addTo(g_overlays[node.level][node.type + '|' + node.group]);
                        toastr["success"]('Item successfully added to map!');
                    } else {
                        toastr["success"]('Suggestion has been submitted. If it is approved by an administrator, it will become visible on the map.');
                    }
                    $('#suggest-edit-modal').modal('hide');
                },
                error: function() {
                    alert('Error!');
                }
            });

            console.debug("Completed adding node.");
            return false;
        });

        $('form[action="/api/nodes/move"]').submit(function() {
            var $form = $(this);

            $.ajax({
                url: '/api/nodes/move',
                method: 'POST',
                data: $form.serialize(),
                success: function(data) {
                    toastr["success"]('Item successfully moved!');
                    $('#confirm-move-modal').modal('hide');
                },
                error: function() {
                    alert('Error!');
                }
            });

            console.debug("Completed moving node.");
            return false;
        });

        function toggleLayer(layer, shouldShow) {
            if (shouldShow) {
                g_map.addLayer(layer);
            } else {
                g_map.removeLayer(layer);
            }
        }

        function buildPopup(node) {
            var $template = $($('#popup-template').html());
            $template.find('[data-name="group"]').html(node.group).end()
                .find('[data-name="name"]').html(node.name).end()
                .find('[data-name="target"]').html(node.target).end()
                .find('[data-node-id="x"]').attr('data-node-id', node.id).end();

            for (var i in node.notes) {
                var $noteTemplate = $($('#popup-note-template').html());

                $noteTemplate.find('[data-name="note-contents"]').html(node.notes[i].text).parent().addClass(node.notes[i].type);

                $template.find('[data-name="notes"]').append($noteTemplate.html());
            }

            return $template.html();
        }

        $('.floor').click(function() {
            var $formField = $('input[type="hidden"][name="level"]');
            var previousLevel = $formField.val();
            var level = $(this).parent().attr('data-floor');
            $formField.val(level);

            $('.floor').removeClass('selected');
            $(this).addClass('selected');

            toggleLayer(g_mapLayers[previousLevel], false);
            toggleLayer(g_mapLayers[level], true);
            updateNodeLayerState();
        });

        {% if model.canDeleteNodes %}
        $('body').on('click', '[data-action="delete-btn"]', function() {
            var nodeId = parseInt($(this).attr('data-node-id'));

            $.ajax({
                url: '/api/nodes/delete/' + nodeId,
                method: 'GET',
                success: function() {
                    toastr["success"]("Node deleted!");
                    g_map.removeLayer(g_openMarker);
                },
                error: function() {
                    toastr["error"]("Error deleting node!");
                }
            });
        });
        {% endif %}
    </script>
{% endblock %}