{% extends 'base.twig' %}

{% set page_title = model.name %}
{% set body_style = "background: url('#{settings.cdnLocation}/#{model.jpgBackgroundFileExtension}/backgrounds/#{model.game}/#{model.slug}.#{model.jpgBackgroundFileExtension}') no-repeat center; background-size: cover" %}
{% set body_class = "#{model.game} missions #{model.slug}" %}

{% block content %}
    <div class="site-container">
        <header class="row">
            <div class="col text-center">
                <h1>{{ model.name }}</h1>
                <h2>{{ model.country }}</h2>
            </div>
        </header>
        {% for mission in model.missions %}
            <div class="row mission justify-content-center">
                <div class="col-lg-4 name" style="background: url('{{ settings.cdnLocation }}/{{ model.pngBackgroundFileExtension }}/mission-thumbnails/{{ model.game }}/{{ mission.slug }}.{{ model.pngBackgroundFileExtension }}') no-repeat; background-size: cover">
                    <p>&nbsp;</p>
                    <h3>
                        <img src="/img/game-icons/mission.png" class="img-fluid" alt="Mission Icon">
                        {{ mission.name }}
                    </h3>
                </div>
                {% for difficulty in mission.difficulties %}
                    <div class="col-lg difficulty">
                        <a href="/games/{{ model.game }}/{{ model.slug }}/{{ mission.slug }}/{{ difficulty | lower }}">
                            <img src="/img/game-icons/{{ difficulty | lower }}.png" alt="{{ difficulty }} Icon" class="normal img-fluid">
                            <img src="/img/game-icons/{{ difficulty | lower }}-inverted.png" alt="{{ difficulty }} Icon" class="inverted img-fluid">
                            <p>{{ difficulty == 'Standard' ? mission.name : difficulty }}</p>
                        </a>
                    </div>
                {% endfor %}
                <!-- Difficulties -->
            </div>
        {% endfor %}
    </div>
{% endblock %}