{% extends 'base.twig' %}

{% set page_title = 'Reset Password' %}
{% set body_style = "background: url('/img/backgrounds/home.jpg') no-repeat center; background-size: cover" %}
{% set body_class = 'register' %}

{% block content %}
    <header class="row">
        <div class="col text-center">
            <h1>Reset Password</h1>
        </div>
    </header>
    {% for alert in model.messages %}
        <div class="alert alert-{{ alert.type }}" role="alert">
            <i class="fas fa-{{ alert.icon }}"></i>
            {{ alert.messageHtml | raw }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col login">
            <div class="login-card">
                <form id="reset-password" data-toggle="validator" method="post" action="/user/reset-password" class="form-horizontal">
                    <div class="form-group row has-feedback">
                        <label for="email" class="col-form-label col-md-4">
                            <i class="fas fa-envelope"></i>
                            Email
                        </label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" name="email" value="{{ model.email }}" readonly required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label for="password" class="col-form-label col-md-4">
                            <i class="fas fa-key"></i>
                            Password
                        </label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" name="password" id="password" placeholder="********"
                                   minlength="8" data-error="Password must be at least 8 characters" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label for="confirm-password" class="col-form-label col-md-4">
                            <i class="fas fa-key"></i>
                            Confirm Password
                        </label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" name="confirm-password" placeholder="********"
                                   data-parsley-equalto="#password" data-parsley-error-message="Passwords must match" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 offset-md-4">
                            <input type="hidden" name="token" value="{{ model.token }}">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-check"></i> Submit
                            </button>
                        </div>
                    </div>
                </form>
                <script>
                    $('#reset-password').parsley({
                        excluded: 'input[type=button],input[type=submit],input[type=reset]',
                        errorClass: 'is-invalid text-danger',
                        successClass: 'is-valid',
                        errorsWrapper: '<span class="form-text text-danger"></span>',
                        errorTemplate: '<span></span>',
                        trigger: 'change'
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}