<html>
<head>
    <title>{{ model.game }} | HITMAN Maps</title>
</head>
<body>
<ul>
    {% for location in model.locations %}
        <li>
            <b>{{ location.name }}</b><br>
            <i>{{ location.country }}</i>
            <ul>
                {% for mission in location.missions %}
                    <li>
                        {% if mission.hasProfessionalMode %}
                            <b style="color: red">*</b>
                        {% endif %}
                        <b>{{ mission.name }}</b><br>
                        {% if mission.campaign %}
                            <i>{{ mission.campaign }}</i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
</body>
</html>